body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root{
  width: 100vw;
  /* position: absolute; */
}
div{
  display: inline-block;
}
p{
  display: flex;
  /* float: left; */
  /* clear:none; */
}
td{
  padding-left: 10px;
}

.cs{
  position: fixed;
  float: right;

}

.pointer{
  cursor: pointer;
}
button{
  float: right;
  display: inline-block;
  /* margin-right: 0px; */
  border: none;
  padding: 0px;
  /* width: 24px; */
}
li{
  list-style: none;
  /* display: inline;
  display: grid; */
  /* float: left; */
  /* margin-top: 10px; */
}
select{
  border:none;
}

.growthrates{
  float: left;
}
